$bg: #0D1B2A;
$text: #E0E1DD;
$text-2: #7f7f7f;
$item-bg: #1B263B;
$border: #768BA7;
$button: #768BA7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}


body {
  font-family: Arial;
  height: 100%;
  font-size: 0.9em;
}

.button {
  display: block;
  background: $button;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  color: $text;
  transition: 0.6s;
  cursor: pointer;
  margin: 20px auto;
  border: none;
  outline: none;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.2);
  }
}

.app {
  display: flex;
  flex-direction: column;
  background: $bg;
  color: $text;
  min-height: 100vh;
}

.header {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 150px 20px;
  margin-top: 50px;
  overflow: hidden;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  background: $item-bg;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 2px solid $border;
  animation: show 0.6s ease forwards;

  &__content {
    margin-left: 20px;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
    background: $item-bg;
    padding: 10px;
    border-radius: 5px;
    color: $text-2;
  }

  &__title {
    font-weight: bold;
  }

  &__desc {
    width: 85%;
    margin-top: 10px;
    opacity: 0.5;
  }

  &__checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid $border;
    border-radius: 10px;
    flex: 0 0 auto;
  }

  &__time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $text-2;
  }
}

.item.complete {
  .item__title {
    position: relative;
    display: inline;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      width: 100%;
      background: $text-2;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(200px);
    height: 0px;
  }

  50% {
    height: 130px;
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);

  }
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  background: $bg;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  .add {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background: $text;
    color: $bg;
    font-weight: bold;
    font-size: 40px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s;

    &:hover {
      transform: translateX(-50%) scale(1.2);
      border-radius: 30px;
    }
  }
}

.theme,
.list {
  cursor: pointer;


  svg {
    transition: 0.6s;
  }

  &:hover {

    svg {
      transform: scale(1.2);
    }
  }
}


.addForm {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  max-height: 100%;
  background: $bg;
  transition: 0.6s;

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 100px 0;

  }

  input:focus {
    z-index: 10;
  }

  input,
  textarea {
    background: $item-bg;
    outline: none;
    border: none;
    color: $text;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    resize: none;
    transition: 0.6s;
  }

  textarea {
    min-height: 200px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.6s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.addForm.active {
  left: 0%;
  overflow-y: scroll;
}

::placeholder {
  opacity: 0.5;
}

svg {
  path {
    fill: $text;
  }
}

.previewAllTheme {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $bg;
  padding: 50px 20px;
  transition: 0.6s;

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
  }

  h2 {
    margin: 10px 0;
  }
}

.previewTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background: $bg;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
    width: 90%;
    border-radius: 10px;
    background: blue;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  &__checkBox {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    margin: 0 20px;
    border-radius: 10px;
  }

  &__text {
    width: 80%;

    .previewTheme__title {
      height: 10px;
      width: 20%;
      background: #fff;
      border-radius: 10px;
    }

    .previewTheme__desc {
      height: 30px;
      width: 80%;
      background: #fff;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}

.previewAllTheme.active {
  left: 0;
}