$bg-light: #FDFEFE;
$text-light: #000000;
$text-2-light: #C1C5C8;
$item-bg-light: #FDFEFE;
$border-light: #FF913A;
$button-light: #FF913A;

$bg-dark: #212428;
$item-bg-dark: #2B2E33;
$text-dark: #EFF1F1;
$text-2-dark: #C1C5C8;
$border-dark: #FF913A;
$button-dark: #FF913A;

.light {
    background: $bg-light;
    color: $text-light;

    .button {
        background: $button-light;
        color: $bg-light;
    }

    .item {
        background: $item-bg-light;
        border: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: $text-light;

        &__date {
            background: $item-bg-light;
            color: $text-2-light;
        }

        &__checkbox {
            border: 1px solid $border-light;
        }

        &__time {
            color: $text-2-light;
        }
    }

    .footer {
        background: $bg-light;

        .add {
            background: $text-light;
            color: $bg-light;
        }
    }

    .addForm {
        background: $bg-light;

        input,
        textarea {
            background: $item-bg-light;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            color: $text-light;
        }
    }


    svg {
        path {
            fill: $text-light;
        }
    }

    .previewAllTheme {
        background: $bg-light;
        color: $text-light;
    }
}

.dark {
    background: $bg-dark;
    color: $text-dark;

    .button {
        background: $button-dark;
        color: $text-dark;
    }

    .item {
        background: $item-bg-dark;
        border: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: $text-dark;

        &__date {
            background: $item-bg-dark;
            color: $text-2-dark;
        }

        &__checkbox {
            border: 1px solid $border-dark;
        }

        &__time {
            color: $text-2-dark;
        }
    }

    .footer {
        background: $bg-dark;

        .add {
            background: $text-dark;
            color: $bg-dark;
        }
    }

    .addForm {
        background: $bg-dark;

        input,
        textarea {
            background: $item-bg-dark;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            color: $text-dark;
        }
    }


    svg {
        path {
            fill: $text-dark;
        }
    }

    .previewAllTheme {
        background: $bg-dark;
        color: $text-dark;
    }
}


.previewTheme.light {
    background: $bg-light;

    .previewTheme__item {
        background: $item-bg-light;
    }

    .previewTheme__checkBox {
        border: 2px solid $border-light;
    }

    .previewTheme__text {
        .previewTheme__title {
            background: $text-light;
        }

        .previewTheme__desc {
            background: $text-2-light;
        }
    }
}

.previewTheme.dark {
    background: $bg-dark;

    .previewTheme__item {
        background: $item-bg-dark;
    }

    .previewTheme__checkBox {
        border: 2px solid $border-dark;
    }

    .previewTheme__text {

        .previewTheme__title {
            background: $text-dark;
        }

        .previewTheme__desc {
            background: $text-2-dark;
        }
    }
}