$bg-light: #FDFEFE;
$text-light: #000000;
$text-2-light: #000000;
$item-bg-light: #FDFEFE;
$border-light: #FF913A;
$button-light: #FF913A;

$bg-dark: #212428;
$item-bg-dark: #2B2E33;
$text-dark: #EFF1F1;
$text-2-dark: #C1C5C8;
$border-dark: #FF913A;
$button-dark: #FF913A;


$bg-dark-red: #232229;
$item-bg-dark-red: #2b2a32;
$text-dark-red: #fff;
$text-2-dark-red: #fff;
$border-dark-red: #B23333;
$button-dark-red: #B23333;

.light {
    background: $bg-light;
    color: $text-light;

    .button {
        background: $button-light;
        color: $bg-light;
    }

    .item {
        background: $item-bg-light;
        border: 0px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: $text-light;

        &__date {
            background: $item-bg-light;
            color: $text-2-light;
        }

        &__checkbox {
            border: 2px solid $border-light;
        }

        &__time {
            color: $text-2-light;
        }
    }

    .item.complete {
        .item__checkbox {
            background: $border-light;
        }

        .item__title {
            &::before {
                background: $border-light;
                box-shadow: 0px 0px 10px black;
            }
        }
    }

    .footer {
        background: $bg-light;

        .add {
            background: $text-light;
            color: $bg-light;
        }
    }

    .addForm {
        background: $bg-light;

        input,
        textarea {
            background: $item-bg-light;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            color: $text-light;
        }
    }


    svg {
        path {
            fill: $text-light;
        }
    }

    .previewAllTheme {
        background: $bg-light;
        color: $text-light;
    }

    ::placeholder {
        color: $text-2-light;
    }
}

.dark {
    background: $bg-dark;
    color: $text-dark;

    .button {
        background: $button-dark;
        color: $text-dark;
    }

    .item {
        background: $item-bg-dark;
        border: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: $text-dark;

        &__date {
            background: $item-bg-dark;
            color: $text-2-dark;
        }

        &__checkbox {
            border: 2px solid $border-dark;
        }

        &__time {
            color: $text-2-dark;
        }
    }

    .item.complete {
        .item__checkbox {
            background: $border-dark;
        }

        .item__title {
            &::before {
                background: $border-dark;
            }
        }
    }

    .footer {
        background: $bg-dark;

        .add {
            background: $text-dark;
            color: $bg-dark;
        }
    }

    .addForm {
        background: $bg-dark;

        input,
        textarea {
            background: $item-bg-dark;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            color: $text-dark;
        }

        ::placeholder {
            color: $text-2-dark;
        }
    }


    svg {
        path {
            fill: $text-dark;
        }
    }

    .previewAllTheme {
        background: $bg-dark;
        color: $text-dark;
    }
}

.dark-red {
    background: $bg-dark-red;
    color: $text-dark-red;

    .button {
        background: $button-dark-red;
        color: $text-dark-red;
    }

    .item {
        background: $item-bg-dark-red;
        border: 2px solid $border-dark-red;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        color: $text-dark;

        &__date {
            background: $item-bg-dark-red;
            color: $text-2-dark-red;
        }

        &__checkbox {
            border: 2px solid $border-dark-red;
        }

        &__time {
            color: $text-2-dark-red;
        }
    }

    .item.complete {
        .item__checkbox {
            background: $border-dark-red;
        }

        .item__title {
            &::before {
                background: $border-dark-red;
            }
        }
    }

    .footer {
        background: $bg-dark-red;

        .add {
            background: $text-dark-red;
            color: $bg-dark-red;
        }
    }

    .addForm {
        background: $bg-dark-red;

        input,
        textarea {
            background: $item-bg-dark-red;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            color: $text-dark-red;
        }

        ::placeholder {
            color: $text-2-dark-red;
        }
    }


    svg {
        path {
            fill: $text-dark-red;
        }
    }

    .previewAllTheme {
        background: $bg-dark-red;
        color: $text-dark-red;
    }
}

// ------------------------------------------------------------------
// previewTheme
.previewTheme.light {
    background: $bg-light;

    .previewTheme__item {
        background: $item-bg-light;
    }

    .previewTheme__checkBox {
        border: 2px solid $border-light;
    }

    .previewTheme__text {
        .previewTheme__title {
            background: $text-light;
        }

        .previewTheme__desc {
            background: $text-2-light;
        }
    }
}

.previewTheme.dark {
    background: $bg-dark;

    .previewTheme__item {
        background: $item-bg-dark;
    }

    .previewTheme__checkBox {
        border: 2px solid $border-dark;
    }

    .previewTheme__text {

        .previewTheme__title {
            background: $text-dark;
        }

        .previewTheme__desc {
            background: $text-2-dark;
        }
    }
}

.previewTheme.dark-red {
    background: $bg-dark-red;

    .previewTheme__item {
        background: $item-bg-dark-red;
        border: 2px solid $border-dark-red;
    }

    .previewTheme__checkBox {
        border: 2px solid $border-dark-red;
    }

    .previewTheme__text {

        .previewTheme__title {
            background: $text-dark-red;
        }

        .previewTheme__desc {
            background: $text-2-dark-red;
        }
    }
}