$bg-dracula: #282A36;
$text-dracula: #E0E1DD;
$text-2-dracula: #e0e0de81;
$item-bg-dracula: #5C6B9A;
$border-dracula: #FF79C6;
$button-dracula: #768BA7;

.dracula {
    background: $bg-dracula;
    color: $text-dracula;

    .item {
        background: $item-bg-dracula;
        border: 2px solid $border-dracula;

        &__date {
            background: $item-bg-dracula;
            color: $text-2-dracula;
        }

        &__checkbox {
            border: 1px solid $border-dracula;
        }

        &__time {
            color: $text-2-dracula;
        }
    }

    .footer {
        background: $bg-dracula;

        .add {
            background: $text-dracula;
            color: $bg-dracula;
        }
    }

    .addForm {
        background: $bg-dracula;

        input,
        textarea {
            background: $item-bg-dracula;
            color: $text-dracula;
        }
    }
}

$bg-night: #011627;
$text-night: #E0E1DD;
$text-2-night: #e0e0de81;
$item-bg-night: #607B96;
$border-night: #64C8C3;
$button-night: #768BA7;

.night {
    background: $bg-night;
    color: $text-night;

    .item {
        background: $item-bg-night;
        border: 2px solid $border-night;

        &__date {
            background: $item-bg-night;
            color: $text-2-night;
        }

        &__checkbox {
            border: 1px solid $border-night;
        }

        &__time {
            color: $text-2-night;
        }
    }

    .footer {
        background: $bg-night;

        .add {
            background: $text-night;
            color: $bg-night;
        }
    }

    .addForm {
        background: $bg-night;

        input,
        textarea {
            background: $item-bg-night;
            color: $text-night;
        }
    }
}


$bg-light: #FAFAFA;
$text-light: #000000;
$text-2-light: #C1C5C8;
$item-bg-light: #F0F1F2;
$border-light: #FF913A;
$button-light: #768BA7;

.light {
    background: $bg-light;
    color: $text-light;

    .item {
        background: $item-bg-light;
        border: 2px solid $border-light;
        color: $text-light;

        &__date {
            background: $item-bg-light;
            color: $text-2-light;
        }

        &__checkbox {
            border: 1px solid $border-light;
        }

        &__time {
            color: $text-2-light;
        }
    }

    .footer {
        background: $bg-light;

        .add {
            background: $text-light;
            color: $bg-light;
        }
    }

    .addForm {
        background: $bg-light;

        input,
        textarea {
            background: $item-bg-light;
            color: $text-light;
        }
    }


    svg {
        path {
            fill: $text-light;
        }
    }
}